DB_HOST=localhost
DB_USER=root
DB_PASSWORD=votre_mot_de_passe_mysql
DB_NAME=allonscinoche
PORT=3000



# This file is same to export to github : it contains only placeholder values.
# Never share the .env file : it should contain your mysql password in plaintext.