DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Root123!
DB_NAME=allonscinoche
PORT=3000

JWT_SECRET=super_secret_key_change_me
JWT_EXPIRES_IN=2h

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123



# This file is same to export to github : it contains only placeholder values.
# Never share the .env file : it should contain your mysql password in plaintext.